Flask==2.1.2
shapely<3.0.0dev
Werkzeug==2.0.2
Flask-SocketIO==5.3.6
google-api-core==2.15.0
google-auth==2.25.2
google-cloud-aiplatform==1.38.1
google-cloud-bigquery==3.14.1
google-cloud-core==2.4.1
google-cloud-resource-manager==1.11.0
google-cloud-speech==2.23.0
google-cloud-storage==2.14.0
google-crc32c==1.5.0
google-resumable-media==2.7.0
googleapis-common-protos==1.62.0
grpc-google-iam-v1==0.13.0
grpcio==1.60.0
grpcio-status==1.60.0
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
python-dateutil==2.8.2
python-engineio==4.8.0
python-socketio==5.10.0
PyAudio==0.2.14
pydub==0.25.1
socketio==0.2.1
urllib3==2.1.0
python-dotenv==1.0.0